-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: coc
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `war`
--

DROP TABLE IF EXISTS `warattacks`;
DROP TABLE IF EXISTS `warmembers`;
DROP TABLE IF EXISTS `war`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `war` (
  `startTime` timestamp NOT NULL,
  `preparationStartTime` timestamp NOT NULL,
  `endTime` timestamp NOT NULL,
  `state` varchar(50) NOT NULL,
  `teamSize` int NOT NULL,
  `teamStars` int DEFAULT NULL,
  `enemyStars` int DEFAULT NULL,
  `attacksPerMember` int NOT NULL,
  `enemyClanName` varchar(50) DEFAULT NULL,
  `enemyClanTag` varchar(15) DEFAULT NULL,
  `teamAttacks` int DEFAULT NULL,
  `enemyAttacks` int DEFAULT NULL,
  `teamDestructionPercentage` int DEFAULT NULL,
  `enemyDestructionPercentage` int DEFAULT NULL,
  `battleModifier` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`startTime`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `war`
--

LOCK TABLES `war` WRITE;
/*!40000 ALTER TABLE `war` DISABLE KEYS */;
INSERT INTO `war` VALUES ('2024-11-27 23:49:39','2024-11-27 00:04:08','2024-11-28 23:49:39','warEnded',25,75,56,2,'MAFIA','#2GRR9G2LJ',36,25,100,80,'none'),('2024-12-11 15:30:12','2024-12-10 16:30:12','2024-12-12 15:30:12','inWar',40,99,119,2,'PH PRIDE','#2R8P2PJ9Y',50,56,92,100,'none');
/*!40000 ALTER TABLE `war` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warmembers`
--

DROP TABLE IF EXISTS `warmembers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warmembers` (
  `warStartTime` timestamp NOT NULL,
  `player_id` varchar(15) NOT NULL,
  PRIMARY KEY (`warStartTime`,`player_id`),
  KEY `player_id` (`player_id`),
  CONSTRAINT `warmembers_ibfk_1` FOREIGN KEY (`warStartTime`) REFERENCES `war` (`startTime`) ON DELETE CASCADE,
  CONSTRAINT `warmembers_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warmembers`
--

LOCK TABLES `warmembers` WRITE;
/*!40000 ALTER TABLE `warmembers` DISABLE KEYS */;
/*!40000 ALTER TABLE `warmembers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warattacks`
--

DROP TABLE IF EXISTS `warattacks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warattacks` (
  `warStartTime` timestamp NOT NULL,
  `player_id` varchar(15) NOT NULL,
  `attackOrder` int NOT NULL,
  `defenderTag` varchar(15) NOT NULL,
  `stars` int NOT NULL,
  `destructionPercentage` int NOT NULL,
  `duration` int NOT NULL,
  PRIMARY KEY (`warStartTime`,`player_id`,`attackOrder`),
  CONSTRAINT `warattacks_ibfk_1` FOREIGN KEY (`warStartTime`, `player_id`) REFERENCES `warmembers` (`warStartTime`, `player_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warattacks`
--

LOCK TABLES `warattacks` WRITE;
/*!40000 ALTER TABLE `warattacks` DISABLE KEYS */;
/*!40000 ALTER TABLE `warattacks` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-12 10:53:30
